{{ if .md }}
  {{ $md_body := .context.body | markdownify }}
  {{ if not (in $md_body "<p>") }}
    {{ printf "<p>%s</p>" $md_body | safeHTML }}
  {{ else }}
    {{ $md_body }}
  {{ end }}
{{ else }}
<p>{{ .context.body | safeHTML }}</p>
{{ end }}

{{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

{{ range .Translations }}
<link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}">
{{ end }}
