				<!-- Footer -->
					<footer id="footer">
              {{ template "_internal/google_analytics.html" . }}
						<ul class="icons">
              {{ with .Site.Params.social.twitter }}
              <li><a href="https://twitter.com/{{ . }}" class="icon brands fa-twitter" aira-label="Twitter: @{{ . }}"><span class="label">Twitter</span></a></li>
              {{ end }}
              {{ with .Site.Params.social.mastodon }}
              <li><a href="https://mastodon.social/{{ . }}" class="icon brands fa-mastodon" aira-label="Mastodon: @{{ . }}"><span class="label">Mastodon</span></a></li>
              {{ end }}
              {{ with .Site.Params.social.github }}
              <li><a href="https://github.com/{{ . }}" class="icon brands fa-github" aira-label="GitHub: @{{ . }}"><span class="label">GitHub</span></a></li>
              {{ end }}
              {{ with .Site.Params.social.gitlab }}
              <li><a href="https://gitlab.com/{{ . }}" class="icon brands fa-gitlab" aira-label="GitLab: @{{ . }}"><span class="label">GitLab</span></a></li>
              {{ end }}
              {{ with .Site.Params.social.facebook }}
              <li><a href="https://facebook.com/{{ . }}" class="icon brands fa-facebook" aira-label="Facebook: @{{ . }}"><span class="label">Facebook</span></a></li>
              {{ end }}
              {{ with .Site.Params.social.youtube }}
              <li><a href="https://youtube.com/{{ . }}" class="icon brands fa-youtube" aira-lable="YouTube: @{{ . }}"><span class="label">GitHub</span></a></li>
              {{ end }}
              {{ with .Site.Params.social.instagram }}
              <li><a href="https://instagram.com/{{ . }}" class="icon brands fa-instagram" aira-label="Instagram: @{{ . }}"><span class="label">Instagram</span></a></li>
              {{ end }}
              {{ with .Site.Params.social.linkedin }}
              <li><a href="https://linkedin.com/in/{{ . }}" class="icon brands fa-linkedin" aira-label="LinkedIn: /in/{{ . }}"><span class="label">LinkedIn</span></a></li>
              {{ end }}
              {{ with .Site.Params.social.rss }}
              <li><a href="{{ . }}" class="icon solid fa-square-rss" aira-label="RSS: {{ . }}"><span class="label">Newsletter</span></a></li>
              {{ end }}
              {{ with .Site.Params.social.dribble }}
              <li><a href="https://dribble.com/{{ . }}" class="icon brands fa-dribbble" aira-label="Dribble @{{ . }}"><span class="label">Dribbble</span></a></li>
              {{ end }}
              {{ with .Site.Params.contact.email }}
              <li><a href="mailto:{{ . }}" class="icon solid fa-envelope" aira-label="Email: {{ . }}"><span class="label">Email</span></a></li>
              {{ end }}
              {{ with .Site.Params.contact.phone }}
              <li><a href="tel:{{ . }}" class="icon solid fa-phone" aira-label="Phone: {{ . }}"><span class="label">Phone</span></a></li>
              {{ end }}

						</ul>
						<ul class="copyright">
              <li>&copy; {{ now.Year }} {{.Site.Params.copyright | safeHTML }}</li><li>{{ with .Site.Params.social.sourcecode }} Proudly <a href="{{ . }}">Open Source <i class="icon brands fa-gitlab"></i></a>{{ end }}</li>

						</ul>
              {{ $.Page.RenderString "{{< elfsight-review-widget >}}" }}

					</footer>

			</div>

      {{ partial "scripts.html" . }}

	</body>
</html>
