<button><a href="https://onward.thinkific.com/collections/bjj-and-fitness">Book an Appointment!</a></button>
<button><a href="https://onward.thinkific.com/collections/bjj-and-fitness">Purchase a Training Program!</a></button>
