<!-- https://dev.to/felixdusengimana/lets-create-an-faq-section-with-html-and-css-only-detail-tag-explained-12gf -->
<style>

/*
details{
  background-color: #303030;
  color: #fff;
  font-size: 1.5rem;
}
*/

summary {
  padding: .5em 1.3rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  transition: height 1s ease;
  font-weight: bold;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after{
  content: "\002B";
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: .5em;
}

details[open] summary:after{
  content: "\00D7";
}

details[open] div{
  padding: .5em 1em;
  margin-left: 5%;
  font-style: italic;
}
</style>

<h3>General Information:</h3>

<ul>
  <li><a href="/find-support"><strong>[Find Urgent Support]</strong></a></li>
  <li><a href="https://drive.google.com/drive/folders/1PecoeMDBb6nxfOwI5Y_6CsC9aHlWMyMo?usp=sharing">[Licenses and Certifications]</a></li>
  <li><a href="https://docs.google.com/document/d/1lDIVv7M3gwWCc_HK5cV_0OxO8iU0A21LoRTAVr_cip4/edit?usp=sharing">[Curriculum Vitae]</a></li>
  <li><a href="/no-surprises">[No Surprises Disclosure]</a></li>
</ul>

<h3>Counseling and Supervision Q&As:</h3>

<details>
  <summary>I'm ready to start therapy!  Now what?</summary>
    <div>Click on my <a href="https://headway.co/providers/austin-haedicke?utm_source=pem&utm_medium=direct_link&utm_campaign=85237">[Headway Portal]</a> to schedule your first appointment!</div>
</details>

<details>
  <summary>What can I expect from therapy?</summary>
  <div>Psychotherapy can be a deeply enriching, healing, and restorative process.  However, it can also be challenging and difficult.  Therapists are not cheerleaders.  We are not your parents, pastors, partners, friends, children, or coaches; yet at many times we may wear those hats or you may see those faces in your work with your therapist.  That is what we call "transference" or simply "grist for the mill."</div>
</details>

<details>
  <summary>Do you provide in-person services?</summary>
  <div>At this time I am only able to provide virtual counseling services which may or may not be appropriate for your situation.  I hope to be able to offer in-person services in the future.</div>
</details>

<details>
  <summary>Do you accept insurance?</summary>
  <div>Yes! I am able to accept mulitple insurances on different platforms:<br><br>
    Please make an appointment on <a href="https://care.headway.co/providers/austin-haedicke">[Headway]</a> if you have:
    <ul>
      <li>Aetna</li>
      <li>Anthem / BCBS of Georgia</li>
      <li>Cigna</li>
      <li>UHC / Optum / Oscar</li>
    </ul>
    Please make an appointment on <a href="https://growtherapy.com/provider/9637uzubsmaw/austin-haedicke">[Grow Therapy]</a> if you have:
    <ul>
      <li>All Savers</li>
      <li>Ambetter</li>
      <li>AvMed</li>
      <li>Evenworth</li>
      <li>Golden Rule</li>
      <li>Surest (Bind)</li>
    </ul>
    If your insurance company is not listed I can provide an out-of-network super-bill through <a href="https://reimbursify.com/">[Reimbursify]</a> that you can submit to your insurance company for reimbursement.
  </div>
</details>

<details>
  <summary>How long do I have to be in therapy?</summary>
  <div>You do not have to be in therapy at all.  The depth and complexity of issues people seek help for in therapy varies widely; as does their willingness, readiness, and time to resolve or progress with those issues.  Periodic treatment plans are part of the process which give both provider and client a rough estimate of what we'll be getting in to and for how long.</div>
</details>

<details>
  <summary>Can I see you for counseling and fitness services concurrently?</summary>
  <div>Unfortunately, no.  The laws have very specific limitations regarding "dual relationships."  However, a specific and unique feature of Onward is that both my physical and counseling practices inform each others.  What that means is that we may well include a fitness component in your specific treatment plan if that's appropriate.</div>
</details>

<details>
  <summary>What ages / populations do you work with?</summary>
  <div>As a general practice I see a wide variety of clients.  Currently, I am working with adults who are appropriate for telehealth / virtual services.  Previously, I have worked extensively with personality disorders, Division I athletes, children / play therapy, PTSD, depression, anxiety, and suicide.  I'm informed by wide variety or treatment theories and methodologies, but notably attachment theory, psychodynamic and person-centered therapies, as well as MBT and DBT.  Note that not all clients are appropriate for virtual services and I reserve the right to make the decision to refer a client to another provider who I think can better meet the client's needs.</div>
</details>

<details>
  <summary>What are your counseling and supervision fees?</summary>
  <div>My counseling self-pay rate is $130 / session.  If you are paying with insurance, you will only need to pay your co-pay if your deducatable has already been met for the year.  Individual supervision is conducted via telehealth at $80 / session.</div>
</details>

<hr>
<h3>Fitness and BJJ Q&As:</h3>

<details>
  <summary>What separates you from other trainers?</summary>
  <div>Teaching is a completely separate skill from performing and is often under-developed in may coaches.  Further, many high-performers become technicians and can even convey what they've learned fairly effectively.  The "magic" of coaching is knowing when / who needs a kick-in-the-butt and who needs a hug.  Also, see below regarding my training methodologies.</div>
</details>

<details>
  <summary>Can anyone do jiu jitsu?</summary>
  <div>Yes!  Everyone can do jiu jitsu, however jiu jitsu is not for everyone.  It is hard.  Grappling is conflict.  With that said, there can be beautiful artistry in learning to effectively and efficiently move one's body to express themselves; particularly in the face of conflict and adversity.</div>
</details>

<details>
  <summary>Do you take insurance?</summary>
  <div>No.  Personal fitness training is typically not covered under insurance benefits and is self-pay only.</div>
</details>

<details>
  <summary>Am I allowed to video record my session?</summary>
  <div>Absolutely!  The training that you pay for is yours to document and take note of however you wish.</div>
</details>

<details>
  <summary>Can I see you for fitness and counseling services concurrently?</summary>
  <div>Unfortunately, no.  The laws have very specific limitations regarding "dual relationships."  However, a specific and unique feature of Onward is that both my physical and counseling practices inform each others.  What that means is that we may well include a fitness component in your specific treatment plan if that's appropriate.</div>
</details>

<details>
  <summary>I don't want to diet, can you help me lose weight?</summary>
  <div>Health and fitness aren't inherently the same thing.  "Fit-ness" implies one's actualized ability to perform a task, which is usually the result of training.  If one's goal is body composition / weight loss, adequate and appropriate nutritional strategies are the cornerstone.</div>
</details>

<details>
  <summary>What methodologies and strategies do you use?</summary>
  <div>I do not believe any one specific programming style or methodology works the best for everyone.  What is far more helpful, and important, is that an athlete learns firstly about themselves, then secondly how to train themselves, and lastly, sufficiently find and address problems within themselves.  With that said, I use multiple incarnations of endurance, strength, power, capacity, and mobility energy systems.</div>
</details>

<details>
  <summary>My child needs / wants a trainer or to take BJJ lessons, how old should they be first?</summary>
  <div>Ideally children need to be elementary or middle-school aged; old enough to logically work through problems and positions.  For my fitness and training programs, I recommend children being at least 13-15 years old.  I strongly encourage parents to participate in BJJ with their children.</div>
</details>

<details>
  <summary>What are your training fees?</summary>
  <div><ul>
    <li>BJJ: BJJ private lessons are in-person and cost $80 / hour or $300 for 4 one-hour sessions.  Sessions can be split between two people.  BJJ fees include nutrition and strength and conditioning recommendations if necessary.</li>
    <li>Strength & Conditioning: Personal fitness fees are $50 / hour or $225 for 5 one-hour sessions.  Fitness fees include nutrition coaching if necessary.</li>
    <li>Package Limits: Packaged sessions must be used within 8 weeks of purchase, or the training contract will expire.  Any sessions not used within 8 weeks of purchase will be forfeit and will not be refunded.  This is to help ensure accountability and consistency in training.</li>
  </ul></div>
</details>

<hr>
<h3>Seminar and Event Q&As:</h3>

<details>
  <summary>How much do seminars cost?</summary>
  <div>The cost of events can vary greatly depending on the duration of the event, the amount of planning, practicing, and preparation involved, as well as travel expenses.  If you are interested in hosting an event, please contact me below!</div>
</details>

<details>
  <summary>Are public previews or samples of your seminars available?</summary>
  <div>Yes! The <a href="https://savagezen.substack.com/p/downloads">[downloads section]</a> section of my <a href="https://savagezen.substack.com">[Substack Newsletter]</a> contains preview / review material from seminars and workshops.  You will need a free subscription to access material from the past 6 months, and a paid subscription ($5/mo or $30/year) to access content older than 6 months.</div>
</details>

<details>
  <summary>Am I allowed to video / audio record your seminars?</summary>
  <div>Absolutely!  The content of each seminar is unique to it's audience.  The content you pay for is yours to use how you wish.  Additionally, the difference between an parrot and a professional is readily apparent when we meet in-person for original events.</div>
</details>

<details>
  <summary>I want to host a seminar, but my students / clients / co-workers / team also need therapy...</summary>
  <div>Because of the strict legal guidelines around dual relationships and confidentiality, none of my seminars should be considered clinical mental health services, counseling, or psychotherapy.  They are primarily educational in nature, though they emphasize experiential and psychological components.  However, it is useful to have a trained clinician as the facilitator in case of emergencies and also as a direct referral source if someone wishes to continue working with me in a clinical capacity.  In other words, these seminars may be therapeutic, but they are not therapy.  That is a separate service I am happy to offer, but cannot do so concurrently.</div>
</details>
